html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }  

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    border-bottom-width: 100;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
  }

  /*grid properties to layout the emoji cards*/

  .emojis {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 350px)
  }
 
  /*flexbox properties to layout the content of the emoji cards*/
  
 .emoji {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
}

/*the emoji card content in proper order as per the image*/

.emoji span {
    order: -1;
    align-self: center;
}

.emoji a {
    margin-top: auto;
}



